<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Ürünlerimiz
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/Urun/Elektronik">Elektronik</a></li>
        <li><a class="dropdown-item" href="/Urun/Bilgisayar">Bilgisayar</a></li>
        <li><a class="dropdown-item" href="/Urun/Telefon">Telefon</a></li>
    </ul>
</li>
